RewriteEngine On
RewriteBase /localhost_piephp/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/localhost_piephp/(webroot/.+|index.php|robots.txt)$
RewriteRule ^ index.php [QSA,L]
